<%= form_with(model: symptom_log) do |form| %>
  <% if symptom_log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(symptom_log.errors.count, "error") %> prohibited this symptom_log from being saved:</h2>

      <ul>
        <% symptom_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :symptom, style: "display: block" %>
    <%= form.text_field :symptom %>
  </div>

  <div>
    <%= form.label :severity, style: "display: block" %>
    <%= form.number_field :severity %>
  </div>

  <div>
    <%= form.label :log_time, style: "display: block" %>
    <%= form.datetime_field :log_time %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
