<div id="<%= dom_id symptom_log %>">
  <p>
    <strong>User:</strong>
    <%= symptom_log.user_id %>
  </p>

  <p>
    <strong>Symptom:</strong>
    <%= symptom_log.symptom %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= symptom_log.severity %>
  </p>

  <p>
    <strong>Log time:</strong>
    <%= symptom_log.log_time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= symptom_log.notes %>
  </p>

</div>
