<div id="<%= dom_id report %>">
  <p>
    <strong>User:</strong>
    <%= report.user_id %>
  </p>

  <p>
    <strong>Generated at:</strong>
    <%= report.generated_at %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= report.format %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= report.language %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

</div>
